<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
      <div>
      <ul>
      <li>
          <a href="https://www.instagram.com/vrs_ono/"><img src="/images/instagram-logo.png" alt="Instagram" width="20" height="20" id="headericon1"></a>
      </li>
      </ul>
      </div>
      <div>
      <ul>
      <li>
        <a href="https://soundcloud.com/user-364405231"><img src="/images/soundcloud-logo.png" alt="SoundCloud" width="20" height="20" id="headericon2"></a>
      </li>
      </ul>
      </div>
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->