<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5>{{ site.title }} <span>{{ site.data.messages.locales[site.locale].toc }}</span></h5>
  <ul class="menu-item">
    {% for link in site.data.navigation limit:3 offset:0 %}<li>
      <a href="{{ site.url }}{{ link.url }}" id="sliding-menu-titles">
        {% if link.image %}<img src="{{ site.url }}/images/{{ link.image }}" alt="teaser" class="teaser">{% endif %}
        <div class="title">{{ link.title }}</div>
        {% if link.excerpt %}<p class="excerpt">{{ link.excerpt }}</p>{% endif %}
      </a>
    </li>{% endfor %}
  </ul>
      <div>
      <ul>
      <li>
          <a href="https://www.instagram.com/vrs_ono/" id="slidericon3"><img src="/images/instagram-logo.png" alt="Instagram" width="20" height="20" id="slidericon1"></a>
          <a href="https://www.instagram.com/vrs_ono/" target="_blank" id="slidingicon4">INSTAGRAM</a>
      </li>
      </ul>
      <ul>
      <li>
        <a href="https://soundcloud.com/user-364405231" id="slidericon3"><img src="/images/soundcloud-logo.png" alt="SoundCloud" width="20" height="20" id="slidericon2"></a>
        <a href="https://soundcloud.com/hiroya-ono" target="_blank" id="slidingicon4">SOUNDCLOUD</a>
      </li>
      </ul>
      </div>  
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
